# Python仮想環境
venv/

# 環境変数ファイル
.env

# Pythonキャッシュ
__pycache__/
*.pyc

# Mac固有ファイル
.DS_Store

# テストや実行で生成されるデータ
data/raw/*.csv
data/system_data.db
data/*.db

# ログファイル
logs/*.log

# ta-lib ソースファイル
ta-lib-*.tar.gz
ta-lib/

# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# VSCode設定
.vscode/